body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;


}

#us-map {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 5%;
}

#map {
  display: block;

  width: 100%;
  height: 100%;
  margin-top: 0%;
}

.active{
  background-color: yellowgreen;
}

path:active{
  stroke: #002868 !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #002868 !important;
  cursor: pointer;
}

path{
  stroke: #002868 !important;
}

#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 2px solid #BF0A30;
  border-radius: 5px;
  padding: 5px;
  font-family: arial;
}

.flex-container {
  display: flex;
  background-color: gainsboro;
  position: absolute;
  bottom:0;
  left:0;
  width: 20%;
  height: 5%;
  margin-bottom: 5%;
}

.flex-container > button {
  background-color: #f1f1f1;
  width: 20%;
  height: 100%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  text-align: center;

}




ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.App {
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
}
* {
   font-size: 16px;
   font-weight: 300;
   line-height: 1.5;
}

.btn.btn-ll5 {
  font-size: 16px;
  font-weight: 300;
  margin-left: 5px;
}

.navbar-brand>img {
  position: absolute;
  left: 0%;
  height: 60px
}




.jumbotron{
  background-color: blue !important;
  color: #ffffff
}

.jumbotron-header {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.jumbotron-heading {
  font-weight: 300
}

h1,h2,h3,h4,h5,h6,strong,b {
  font-weight: 300;
}

h1,h2,h3 {
  margin-bottom: 1rem;
}

.top10 { margin-top:10px; }

.Label {
  font-style:normal
}